lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
db.sqlite

pids
logs
results

static/ass_img/*
!static/ass_img/.keep
static/ass_pks/*
!static/ass_pks/.keep
static/tmp/*
!static/tmp/.keep
npm-debug.log
node_modules
