<%include part_head %>
<style type="text/css">
	.block{
		background-color: rgba(0,0,0,0.7);
		color: white;
		padding: 20px;
		margin: 10px;
	}
</style>
<div class="content" style="padding:20px;background:rgba(0,0,0,0.0)">
	<div class="col-lg-6 col-xs-12 block">
		<div style="background:white;color:black;padding:20px;">
			<h1>Windows</h1>
			<a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>Download (.exe)</a>
		</div>
	</div>
	<div class="col-lg-6 col-xs-12 block">
		<div style="background:white;color:black;padding:20px;">
		<h1>Linux</h1>
		<a href="#" class="btn btn-primary" disabled="disabled"><i class="glyphicon glyphicon-floppy-save"></i>Coming Soon (.tar.gz)</a>
		</div>
	</div>
	<div class="col-lg-6 col-xs-12 block">
		<div style="background:white;color:black;padding:20px;">
		<h1>Asset Packer</h1>
		<a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>Download (.exe)</a>
		</div>
	</div>
</div>
<%include part_foot %>